/* The container */
.container {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid var(--gray-5);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--main-default);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 4px;
  width: 4px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  padding: 24px 24px 28px;
  position: relative;
}
.product > img {
  max-width: 60%;
  height: 163px;
}
.product > button {
  background: none;
  border: none;
  height: 20px;
}
.product > button .redDelete {
  display: none;
}
.product > button:hover .redDelete {
  display: inline-block;
}
.product > button:hover .grayDelete {
  display: none;
}
.product .about {
  width: 100%;
}
.product .productInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product .productInfo a {
  color: var(--gray-1, #333);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}
.product .productInfo .color {
  color: var(--gray-1, #333);
  font-size: 12px;
  line-height: 16px;
}
.product .productInfo .color span {
  color: var(--gray-3, #828282);
  margin-right: 12px;
}
.product .productInfo .price {
  color: var(--danger-600, #db2c66);
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.product .productInfo .price img {
  height: 9px;
}
.product .about .count {
  position: absolute;
  right: 24px;
  bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
.product .about .count button {
  font-size: 20px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 992px) {
  .product {
    flex-wrap: nowrap;
    align-items: center;
    padding: 12px 16px;
    height: fit-content;
  }
  .product > button {
    order: 2;
  }
  .product > img {
    height: 72px;
    margin: 0 32px 0 24px;
  }
  .product .about {
    display: flex;
    gap: 60px;
  }
  .product .about .productInfo {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product .about .productInfo a {
    width: 100%;

    margin-top: 0;
    text-align: left;
  }
  .product .about .productInfo .price {
    margin-left: 20px;
  }
  .product .about .count {
    gap: 15px;
    position: unset;
    margin-left: auto;
    margin-right: 10%;
  }
}
